---
import Layout from '../../layouts/Layout.astro';
import { allPlaylists, songs } from '../../lib/data';
import Playlistcard from "../../components/playlistcard.astro";
import Musictable from '../../components/musictable.astro';
import { Cardplaybuton } from '../../components/cardplaybuton';

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playlistsongs = songs.filter((song) => song.albumId === playlist?.albumId);
---

<Layout title="Clone Spotify">
  <div id="playlist-container" class="relative flex flex-col h-full overflow-x-hidden bg-zinc-900">
    <div class="relative z-10 px-6 pt-6">
      <header class="flex flex-col md:flex-row gap-8 px-6 mt-12 items-center md:items-start">
        <picture class="w-40 h-40 md:w-52 md:h-52">
          <img src={playlist?.cover} class="object-cover w-full h-full shadow-lg rounded-md" alt={playlist?.title} />
        </picture>

        <div class="flex flex-col justify-between text-center md:text-left">
          <h2 class="text-white text-sm md:text-base">Playlist</h2>
          <h1 class="title-clamp text-3xl md:text-5xl font-bold text-white">{playlist?.title}</h1>

          <div class="mt-2">
            <span class="text-gray-300 text-sm">{playlist?.artists.join(", ")}</span>
          </div>
          <p class="mt-1 text-gray-400 text-xs md:text-sm">
            <span class="text-white">Canciones: {playlistsongs.length}</span> • 3 h aproximadamente
          </p>
        </div>
      </header>
      
      <div class="pl-6 pt-6 flex justify-center md:justify-start">
        <Cardplaybuton id={id} client:load size="large" />
      </div>
    </div>
    
    <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"></div>
    
    <section class="p-4 md:p-11 z-10">
      <Musictable songs={playlistsongs} />
    </section>
  </div>
</Layout>